    <h1>Application exemple</h1>
    <p>
      Page d'accueil de l'application
       <a href="http://railstutorial.org/">RoR tutoriel</a>
    </p>
    <%= link_to "S'inscrire", '#', :class => "signup_button round" %>

